<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ArcGIS API for JavaScript Tutorials: Create a Starter App</title>
  <style>
    html, body, #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
  
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.18/"></script>
  
  <script>  
    require([
      "esri/Map",
      "esri/views/MapView"
    ], function(Map, MapView) {

      var map = new Map({
        basemap: "topo-vector"
      });

      var view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-118.80500, 34.02700], // longitude, latitude
      zoom: 13
      });

    });
  </script>
</head>
<body>
  <div id="viewDiv"></div>
</body>
</html><html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ArcGIS API for JavaScript Tutorials: Create a Starter App</title>
  <style>
    html, body, #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
  
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.18/"></script>
  
  <script>  
    require([
      "esri/views/MapView",
      "esri/WebMap",
      "esri/widgets/LayerList",
        "esri/widgets/BasemapGallery",
        "esri/widgets/Legend",
        "esri/widgets/Expand"
    ], function(MapView, WebMap, LayerList, BasemapGallery, Legend, Expand) {

      const webmap = new WebMap({
        portalItem: { // autocasts as new PortalItem()
        id: "b941bab666144a1c8cadab4be1a35bc6"
        }
      });

      

      var view = new MapView({
        container: "viewDiv",
        map: webmap,
      });

      view.ui.add(
          [
            new Expand({
              content: new Legend({
                view: view
              }),
              view: view,
              group: "top-left"
            }),
            new Expand({
              content: new LayerList({ view: view }),
              view: view,
              group: "top-left"
            }),
            new Expand({
              content: new BasemapGallery({
                view: view
              }),
              view: view,
              expandIconClass: "esri-icon-basemap",
              group: "top-left"
            })
          ],
          "top-left"
        );
      

    });
  </script>
</head>
<body>
  <div id="viewDiv"></div>
</body>
</html>